.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

.slide-down {
  -webkit-animation: slide-down 300ms ease-in-out 1000ms forwards;
          animation: slide-down 300ms ease-in-out 1000ms forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.heading-1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 4.17px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-2 {
  font-size: 1.5rem;
  line-height: 1.5625rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 700;
}

.heading-4 {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.body {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 400;
  opacity: 0.6;
}

.btn {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.btn-primary {
  background-color: #000;
  padding: 12px 24px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background-color: #dfdfdf;
  color: #000;
}

.btn-secondary {
  color: #000;
}

.btn-secondary-white {
  color: #fff;
}

.btn-secondary-white::after {
  content: '';
  background-image: url("/assets/shared/desktop/arrow-white.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 43px;
  margin-left: 20px;
  vertical-align: middle;
}

.btn-secondary-white:hover {
  text-decoration: underline;
}

.btn-secondary::after {
  content: '';
  background-image: url("/assets/shared/desktop/arrow.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 43px;
  margin-left: 20px;
  vertical-align: middle;
  color: black;
}

.btn-secondary:hover {
  text-decoration: underline;
}

.preview__block {
  position: relative;
}

.preview__block p {
  opacity: 0.6;
  padding-bottom: 48px;
}

.preview__block-pic-1 {
  grid-column: span 12;
}

@media (min-width: 48em) {
  .preview__block-pic-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    max-height: 600px;
  }
}

@media (min-width: 64em) {
  .preview__block-pic-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
    max-height: 600px;
  }
}

.preview__block-pic-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview__block-pic-2 {
  grid-column: span 12;
  -ms-grid-row: 3;
  grid-row: 3;
}

@media (min-width: 48em) {
  .preview__block-pic-2 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
    -ms-grid-row: 2;
    grid-row: 2;
    max-height: 600px;
  }
}

@media (min-width: 64em) {
  .preview__block-pic-2 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
    -ms-grid-row: 2;
    grid-row: 2;
    max-height: 600px;
  }
}

.preview__block-pic-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview__block-content-1 {
  grid-column: span 12;
  width: 80%;
  margin: 4.5rem auto;
}

@media (min-width: 48em) {
  .preview__block-content-1 {
    width: 387px;
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
    max-height: 600px;
  }
}

@media (min-width: 64em) {
  .preview__block-content-1 {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
  }
}

.preview__block-content-2 {
  grid-column: span 12;
  width: 80%;
  margin: 4.5rem auto;
}

@media (min-width: 48em) {
  .preview__block-content-2 {
    width: 387px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
    max-height: 600px;
  }
}

@media (min-width: 64em) {
  .preview__block-content-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
}

.featured-stories__story {
  position: relative;
  grid-column: span 12;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  max-height: 500px;
}

@media (min-width: 48em) {
  .featured-stories__story {
    grid-column: span 6;
    height: 500px;
  }
}

@media (min-width: 64em) {
  .featured-stories__story {
    grid-column: span 3;
  }
}

.featured-stories__story .story-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
}

.featured-stories__story__date {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 0.8125rem;
}

.featured-stories__story__title {
  color: #fff;
  margin: 0;
}

.featured-stories__story__author {
  margin: 0;
  color: #fff;
  font-size: 0.8125rem;
}

.featured-stories__story__article {
  position: absolute;
  max-height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.0625rem 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.27%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.661222)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
}

.featured-stories__story .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0;
  padding-top: 23px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.featured-stories__story .link span {
  color: #fff;
}

@media (min-width: 64em) {
  .featured-stories__story:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .featured-stories__story::after {
    content: '';
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
  }
  .featured-stories__story:hover::after {
    opacity: 1;
  }
}

.features__feature {
  grid-column: span 12;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .features__feature {
    width: 457px;
  }
}

@media (min-width: 64em) {
  .features__feature {
    grid-column: span 4;
    width: 300px;
  }
  .features__feature:not(:last-child) {
    margin-bottom: 0px;
  }
  .features__feature p {
    margin-bottom: 0;
  }
  .features__feature .limit {
    margin-top: 36px;
  }
}

@media (min-width: 90em) {
  .features__feature {
    width: 350px;
  }
}

.features__feature h3 {
  margin-top: 48px;
}

.features__feature p {
  opacity: 0.6;
}

.features__feature:not(:last-child) {
  margin-bottom: 56px;
}

.compare-features__container {
  max-width: 731px;
  margin: 7rem auto;
}

.compare-features__title {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 4.17px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: none;
}

@media (min-width: 48em) {
  .compare-features__title {
    display: block;
  }
}

.compare-features table {
  margin: 56px auto;
  width: 90%;
  border-collapse: collapse;
}

.compare-features table thead {
  border-bottom: 1px solid #000;
}

.compare-features table tr th:is(:first-child),
.compare-features table tr td:is(:first-child) {
  text-align: left;
}

.compare-features table th,
.compare-features table td {
  padding: 20px 0;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  font-size: 0.8rem;
}

.compare-features table td {
  border-bottom: 1px solid #dfdfdf;
}

@media (max-width: 47.9375em) {
  .compare-features table thead th:not(:first-child) {
    display: none;
  }
  .compare-features table tbody {
    display: block;
  }
  .compare-features table tbody tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
  }
  .compare-features table tbody tr td:first-child {
    padding: 23.5px 0 16.5px;
    width: 100%;
    border-bottom: 0;
  }
  .compare-features table tbody tr td:not(:first-child) {
    padding: 0 0 25px;
  }
  .compare-features table tbody tr td:nth-child(2)::before,
  .compare-features table tbody tr td:nth-child(3)::before,
  .compare-features table tbody tr td:nth-child(4)::before {
    display: block;
    font-size: 0.6666666667rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }
  .compare-features table tbody tr td:nth-child(2)::before {
    content: 'Basic';
  }
  .compare-features table tbody tr td:nth-child(3)::before {
    content: 'Pro';
  }
  .compare-features table tbody tr td:nth-child(4)::before {
    content: 'Business';
  }
  .compare-features table tbody tr td:not(:first-child) {
    width: 33.33%;
    text-align: left;
  }
}

input[type='checkbox'] {
  height: 10px;
  width: 10px;
  visibility: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 64px;
  height: 32px;
  background-color: #dfdfdf;
  display: block;
  border-radius: 100rem;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #000;
  border-radius: 100rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

input:checked + label {
  background-color: #000;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #fff;
}

.highlight {
  font-weight: 700;
}

.soft {
  opacity: 0.6;
  font-weight: 400;
}

.beta {
  position: relative;
}

.beta picture {
  grid-column: span 12;
}

.beta picture::before {
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  width: 8rem;
  height: 6px;
  background: linear-gradient(-170deg, #5a77ff, #ffc593, #bc7198);
}

@media (min-width: 48em) {
  .beta picture::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
  }
}

.beta picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.beta__content {
  position: absolute;
  left: 33px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 83%;
  max-width: 1110px;
}

.beta__content h2 {
  color: #fff;
  font-size: 2rem;
  margin-top: 0;
}

@media (min-width: 48em) {
  .beta__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .beta__content h2 {
    width: 25rem;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

@media (min-width: 64em) {
  .beta__content {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.footer {
  background-color: #000;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
  max-width: 1110px;
  padding: 3.5rem 0;
}

.footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 2rem;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 9.625rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-links img:not(:hover) {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__nav {
  margin: 49px 0 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav a {
  color: #fff;
  text-align: center;
}

.footer__nav a:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__cta {
  display: block;
  text-align: center;
  margin-bottom: 34px;
}

.footer .copy {
  color: white;
  opacity: 0.5025;
  text-align: center;
  margin: 0;
}

@media (min-width: 48em) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .footer__logo {
    text-align: left;
  }
  .footer__social-links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: left;
    margin: 0;
  }
  .footer__col {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .footer__col:last-child {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__nav {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 72px;
    width: 315px;
  }
  .footer__cta {
    text-align: right;
  }
  .footer .copy {
    text-align: right;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    padding: 0;
  }
  .footer__col:first-child {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer__social-links {
    margin-top: -25px;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
    padding-left: 3rem;
  }
  .footer__nav a:hover {
    opacity: 0.3;
  }
}

.header {
  position: relative;
  max-height: 4.5rem;
  background-color: #fff;
  z-index: 1;
}

.header.open span {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header.open span:first-child {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10px;
          transform-origin: 10px;
  margin: 0;
}

.header.open span:last-child {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 9px;
          transform-origin: 9px;
  margin: 0;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header nav {
  max-width: 1440px;
  height: 4.5rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding: 16px 24px;
}

@media (min-width: 90em) {
  .header nav {
    padding: 16px 165px;
  }
}

.header__toggle > span {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__toggle > span:nth-child(1) {
  margin-bottom: 4px;
}

.header__link {
  color: #000;
}

.header__link:hover {
  opacity: 0.3;
}

.header__link:not(:last-child) {
  margin-right: 37px;
}

.header__menu {
  background-color: #fff;
  padding: 32px;
  opacity: 1;
}

.header__menu:nth-child(1) {
  background-color: crimson;
}

.header__menu a:nth-child(-n + 2) {
  padding-bottom: 20px;
}

.header__menu a:last-of-type {
  color: #fff;
}

.header__menu a:last-of-type:hover {
  color: #000;
}

.header__menu > a {
  display: block;
  color: #000;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.header__menu hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid #dfdfdf;
}

@media (min-width: 48em) {
  .header__menu {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 47.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-tablet {
    display: none;
  }
}

.grid {
  max-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

.grid-2 {
  max-width: 1110px;
  margin: 120px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

.grid-3 {
  max-width: 1110px;
  margin: 120px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

@media (min-width: 64em) {
  .grid-3 {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.hero {
  min-height: 10rem;
}

.hero picture {
  grid-column: span 12;
}

@media (min-width: 48em) {
  .hero picture {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / 13;
    max-height: 650px;
  }
}

@media (min-width: 64em) {
  .hero picture {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
    max-height: 650px;
  }
}

.hero picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__content {
  background-color: #000;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  position: relative;
}

@media (min-width: 48em) {
  .hero__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;
  }
}

@media (min-width: 64em) {
  .hero__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;
  }
}

.hero__content::before {
  content: '';
  width: 128px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 2rem;
  background: linear-gradient(-170deg, #5a77ff, #ffc593, #bc7198);
}

@media (min-width: 48em) {
  .hero__content::before {
    left: 0;
    top: 50%;
    width: 6px;
    height: 304px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.hero__content-box {
  width: 80%;
  margin: 4.5rem auto;
}

@media (min-width: 48em) {
  .hero__content-box {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 64em) {
  .hero__content-box {
    width: 387px;
  }
}

.hero__content-box h2 {
  color: #fff;
  margin-top: 0;
}

.hero__content-box p {
  color: #dfdfdf;
  opacity: 0.6;
  margin-bottom: 43px;
}

.stories__hero {
  position: relative;
}

.stories__hero picture {
  grid-column: span 12;
}

.stories__hero picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 48em) {
  .stories__hero picture {
    height: 650px;
  }
}

.stories__hero-content {
  grid-column: span 12;
  background-color: #000;
  color: #fff;
}

.stories__hero-content .heading-4 {
  margin: 0;
}

.stories__hero-content-box {
  width: 85%;
  margin: 3rem auto;
}

.stories__hero-content-box-title {
  margin: 1rem 0;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.33px;
}

.stories__hero-content-box-info {
  font-size: 0.8125rem;
  margin-bottom: 24px;
  margin-top: 16px;
}

.stories__hero-content-box-info span {
  opacity: 0.75;
}

.stories__hero-content-box .body {
  margin: 0 0 24px;
}

@media (min-width: 48em) {
  .stories__hero-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 39px;
    margin: 0;
    background-color: transparent;
    width: 387px;
  }
  .stories__hero-content-box {
    margin: 0;
  }
}

@media (min-width: 64em) {
  .stories__hero-content {
    left: 112px;
  }
}

.features__hero picture {
  grid-column: span 12;
  max-height: 18.375rem;
}

@media (min-width: 48em) {
  .features__hero picture {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
    max-height: 30.625rem;
  }
}

@media (min-width: 64em) {
  .features__hero picture {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6 / 13;
  }
}

.features__hero picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__hero-content {
  grid-column: span 12;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.features__hero-content-box {
  width: 80%;
  margin: 4.5rem 0;
  max-width: 23.625rem;
}

.features__hero-content-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  width: 8rem;
  height: 6px;
  background: linear-gradient(-170deg, #5a77ff, #ffc593, #bc7198);
}

@media (min-width: 48em) {
  .features__hero-content-box::before {
    left: 0;
    width: 6px;
    height: 9rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.features__hero-content h2 {
  font-size: 2rem;
  letter-spacing: 3.33px;
  text-transform: uppercase;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

@media (min-width: 48em) {
  .features__hero-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media (min-width: 64em) {
  .features__hero-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
}

.features-page {
  margin: 4rem auto;
}

.features-page__box {
  grid-column: span 12;
  text-align: center;
  width: 85%;
  margin: 0 auto 3.5rem;
}

.features-page__box h3 {
  margin: 3rem 0 1rem;
}

@media (min-width: 48em) {
  .features-page__box {
    grid-column: span 6;
    width: 90%;
    margin-top: auto;
  }
}

@media (min-width: 64em) {
  .features-page__box {
    grid-column: span 4;
  }
}

.pricing {
  margin: 4rem 0;
}

.pricing__billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 255px;
  margin: 0 auto;
}

.pricing__billing input {
  display: none;
}

.pricing__container {
  width: 90%;
  margin: 4rem auto;
}

.pricing__container__card {
  grid-column: span 12;
  text-align: center;
  padding: 3.5rem 1.3125rem 2.5rem;
  margin-bottom: 1.5rem;
  background-color: #f5f5f5;
  position: relative;
}

.pricing__container__card:nth-child(2) {
  background-color: #000;
  color: #fff;
}

.pricing__container__card:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: linear-gradient(-170deg, #5a77ff, #ffc593, #bc7198);
}

.pricing__container__card h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.pricing__container__card p {
  margin-top: 1.125rem;
  margin-bottom: 2.5rem;
}

.pricing__container__card .period {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.pricing__container__card .btn-plan {
  border: none;
  width: 90%;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.pricing__container__card .btn-plan:hover {
  background-color: #dfdfdf;
}

@media (min-width: 48em) {
  .pricing__container__card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .pricing__container__card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pricing__container__card-desc {
    width: 270px;
    text-align: left;
  }
  .pricing__container__card-price {
    text-align: right;
  }
  .pricing__container__card .period {
    margin-right: 0.8rem;
  }
  .pricing__container__card .btn-plan {
    width: 270px;
    display: block;
  }
  .pricing__container__card:nth-child(2)::before {
    left: 0;
    height: 100%;
    width: 6px;
  }
}

@media (min-width: 64em) {
  .pricing__container__card {
    grid-column: span 4;
  }
  .pricing__container__card-content {
    display: block;
  }
  .pricing__container__card:nth-child(2) {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .pricing__container__card:nth-child(2)::before {
    top: 0;
    height: 6px;
    width: 100%;
  }
  .pricing__container__card-desc {
    width: 100%;
    text-align: center;
  }
  .pricing__container__card-price {
    text-align: center;
  }
  .pricing__container__card .btn-plan {
    width: 100%;
  }
}

@media (min-width: 64em) {
  .pricing__container {
    max-width: 1110px;
    margin: 4rem auto;
  }
}
