.compare-features {
  &__container {
    max-width: 731px;
    margin: 7rem auto;
  }

  &__title {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 4.17px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: none;

    @include breakpoint-up(md) {
      display: block;
    }
  }

  table {
    margin: 56px auto;
    width: 90%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid $black;
    }

    tr th:is(:first-child),
    tr td:is(:first-child) {
      text-align: left;
    }

    th,
    td {
      padding: 20px 0;
      font-weight: 700;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-bottom: 1px solid $black;
      font-size: 0.8rem;
    }

    td {
      border-bottom: 1px solid $lightGrey;
    }

    @include breakpoint-down(md) {
      thead th:not(:first-child) {
        display: none;
      }
      tbody {
        display: block;
      }
      tbody tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 1px solid $lightGrey;
      }
      tbody tr td:first-child {
        padding: 23.5px 0 16.5px;
        width: 100%;
        border-bottom: 0;
      }

      tbody tr td:not(:first-child) {
        padding: 0 0 25px;
      }

      tbody tr td:nth-child(2)::before,
      tbody tr td:nth-child(3)::before,
      tbody tr td:nth-child(4)::before {
        display: block;
        font-size: 0.6666666667rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
      }
      tbody tr td:nth-child(2)::before {
        content: 'Basic';
      }
      tbody tr td:nth-child(3)::before {
        content: 'Pro';
      }
      tbody tr td:nth-child(4)::before {
        content: 'Business';
      }
      tbody tr td:not(:first-child) {
        width: 33.33%;
        text-align: left;
      }
    }
  }
}
