// Flexbox
.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-items-center {
    align-items: center;
  }

  &-justify-center {
    justify-content: center;
  }

  &-justify-between {
    justify-content: space-between;
  }
}

// Breakpoints Visibility
.hide-for-mobile {
  @include breakpoint-down(md) {
    display: none;
  }
}

.hide-for-tablet {
  @include breakpoint-up(md) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(lg);
}
